@import "../../themes/theme.scss";

.about-container {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background: rgb(0, 0, 0);
  padding: 4em;
  margin-top: 2em;
  margin-bottom: 1em;
  border-radius: 3em;
}

#about{
  font-size: 1em;
  font-weight: 300;
  vertical-align: middle;
  padding-top: 4em;
  padding-bottom: 4em;
  text-align: center;
  //background: #5a2cff;
  color: #5a2cff;
  border-radius: 3em;

}

.profile-text{
  padding-left: 3vh;
}

.profile{
  margin: 2em;
  width: 45em;
  max-width: 90vw;
  height: auto;
}

