@import "../../themes/theme.scss";

.about-container {
  min-height: 100vh;
  width: 100%;
  position: relative;
  margin-top: 0em;

  h1{
    font-size: 2em;
    color: $about-name;
  }

  h2{
    font-size: 1.2em;
    color: $about-subtitle;
  }
}

#about{
  background: white;
  font-size: 1em;
  font-weight: 350;
  vertical-align: middle;
  padding: 0em 0vh 0em 0vh;
  text-align: center;
  color: $about;
}

.profile{
  margin: 2em;
  width: 24em;
  max-width: 90vw;
  height: auto;
}

