@import "../../themes/theme.scss";

.about-container {
  min-height: 100vh;
  height: 90%;
  width: 100%;
  position: relative;
  margin-top: 0em;

  h1 {
    font-size: 2em;
    color: $about-name;
    text-shadow: unset;
  }

  h2 {
    font-size: 1.3em;
    color: $about-subtitle;
    font-weight: 600;
  }
}

#about {
  font-size: 1em;
  font-weight: 350;
  vertical-align: middle;
  text-align: center;
  color: $about-color;
  clip-path: polygon(0% 5%, 100% 0%, 100% 95%, 0 100%);
  padding: 2vh 0%;
  background: $background-glass;
  backdrop-filter: $blur-glass;
  border: $border-glass;

  a {
    color: $color-yellow;
    text-shadow: 0.3px 0.3px 0.3px $color-white, -0.3px 0.3px 0.3px $color-white,
      0.3px -0.3px 0.3px $color-white, -0.3px -0.3px 0.3px $color-white;
  }
}

#about-form-1 {
  height: 100%;
  width: 100%;
  clip-path: polygon(0% 5%, 100% 100%, 50% 100%, 0% 100%);
  background: linear-gradient(
    0deg,
    rgba(105, 14, 155, 0.945) 0%,
    rgba(153, 24, 46, 0.439) 90%
  );
  position: absolute;
  bottom: 0;
  z-index: 0;
}

#about .container {
  position: relative;
  z-index: 1;
}

#about .profile {
  margin: 25px;
  width: 24em;
  max-width: 90vw;
  height: auto;
}

@include media-breakpoint-down(md) {
  .about-form-1 {
    padding: 2rem;
  }

  #about .profile {
    margin: 10px 0px;
    width: 20em;
  }

  .about-container {
    h1 {
      font-size: 1.5rem;
    }
  }

  #about {
    clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0 100%);
  }
}
