.message {
  top: 18vh;
  font-size: 10vh;
  position: absolute;
  width: 90%;

  z-index: 1;
  padding-left: 3vh;
  text-align: center;
  text-shadow: 2px 2px 1px #ff4a4a, 4px 4px 1px #faf4a5;

  div {
    color: #FFFFFF;
    font-weight: 500;
    letter-spacing: 1px;
  }

  contrast {
    color: #7D2DFE;
    text-shadow: 2px 2px 1px #ff4a4a, 4px 4px 1px #AFE4D9;
  }
}
