@import "../../themes/theme.scss";

.message {
  top: 18vh;
  font-size: 8vh;
  position: absolute;
  width: 90%;

  z-index: 1;
  padding-left: 3vh;
  text-align: center;
  text-shadow: 1.5px 1.5px 1px $welcome-shadow1, 2px 2px 1px $welcome-shadow2;

  div {
    color: #FFFFFF;
    font-weight: 300;
    letter-spacing: 0.2px;
  }

  contrast {
    color: $welcome-contrast;
    text-shadow: 2px 2px 1px $contrast-shadow1, 3px 3px 1px $contrast-shadow2;
  }
}
