@import "../../themes/theme.scss";

.nav-theme {
  background: transparent;
  font-size: 1em;
}

.animate-navbar {
  animation: moveDown 0.8s ease-in-out;
}

.navbar-light .navbar-nav{
  .nav-link, .nav-link.active{
    color: $secondary-text;
    text-shadow: 1px 1px 1px rgb(168, 168, 168),-1px 1px 1px rgb(164, 241, 255),-1px -1px 1px rgb(185, 253, 227), 1px -1px 1px rgb(26, 163, 255);
  }

  a.nav-link.active{
    color: $accent-color;
    text-shadow: 2px 2px 1px rgb(164, 241, 255);
  }
}

.navbar-light:hover .navbar-nav:hover .nav-link:hover{
  color: $primary-color;
  text-shadow: 1px 1px 2px rgb(250, 255, 181), -1px -1px 2px rgb(250, 255, 181), 1px -1px 2px rgb(250, 255, 181), -1px 1px 2px rgb(250, 255, 181);
}
.navbar-toggler-icon, .navbar-toggler{
  background: $divider-color;
  border: transparent;
}

@keyframes moveDown {
  from {
    transform: translateY(-4rem);
  }to{
    transform: translateY(0rem);
  }
}

@keyframes moveUp {
  from {
    transform: translateY(0rem);
  }to{
    transform: translateY(-4rem);
  }
}

