@import "../../themes/theme.scss";

.nav-theme {
  background: transparent;
  font-size: 1em;
}

.animate-navbar {
  animation: moveDown 0.8s ease-in-out;
  background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 38%, rgba(255,255,255,0.39) 62%, rgba(255,255,255,0.59) 85%, rgba(255,255,255,0.59) 100%);
  padding: 0;
}

.navbar-light .navbar-nav{
  .nav-link, .nav-link.active{
    color: $secondary-text;
    text-shadow: 1px 1px 1px rgb(168, 168, 168),-1px 1px 1px rgb(164, 241, 255),-1px -1px 1px rgb(185, 253, 227), 1px -1px 1px rgb(26, 163, 255);
  }

  a.nav-link.active{
    color: #ffbea4;
    text-shadow: 1px 1px 1px #faa780, -1px 1px 1px #faa780, 1px -1px 1px #faa780, -1px -1px 1px #faa780;
  }
}

.navbar-light:hover .navbar-nav:hover .nav-link:hover{
  color: rgb(22, 138, 247);
  text-shadow: 1px 1px 1px rgb(0, 66, 248), -1px -1px 1px rgb(81, 69, 241), 1px -1px 1px rgb(99, 109, 247), -1px 1px 1px rgb(19, 59, 238);
}
.navbar-toggler-icon, .navbar-toggler{
  background: $divider-color;
  border: transparent;
}

@keyframes moveDown {
  from {
    transform: translateY(-4rem);
  }to{
    transform: translateY(0rem);
  }
}

@keyframes moveUp {
  from {
    transform: translateY(0rem);
  }to{
    transform: translateY(-4rem);
  }
}

