@import "../../themes/theme.scss";

#contact {
  padding-bottom: 7em;
  text-align: center;
  max-height: 50vh;
  background-color: transparent;
  .text-subtitle{
    color:$primary-color;
  }
}

.title{
  color: white;
  padding-top: 0.5em;
  padding-bottom: 0.25em;
  margin-top: 0.5em;
  text-align: center;
  text-shadow: $text-shadow;
  font-size: 3em;
}
