@import "../../themes/theme.scss";

.contact-wrapper {
  background-color: transparent;
  position: relative;
}

#contact {
  padding-bottom: 10em;
  text-align: center;
  background-color: transparent;

  .text-subtitle{
    color: $contact-info;
    font-size: 0.9em;
  }
}


#contact-box{
  border-radius: 100%;
  width: 20em;
  height: 20em;
  font-size: 1.3em;
  padding-top: 5em;
  margin: 5vh;
  vertical-align: middle;
  align-self: center;
  background: linear-gradient(to bottom, $contact-gradient1 0%, $contact-gradient2 100%);

  background-color: $super-pink;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border: 5px solid rgb(0, 0, 0);
  border-style: dotted;

  img{
    width: 30px;
    height: 30px;
  }

  @media only screen and (max-width: 599px){
    width: 20em;
    height: 20em;
    font-size: 0.8em;
    padding-top: 4em;

    img{
      width: 20px;
      height: 20px;
    }
  }
}

.title{
  color: $contact-title;
  text-align: center;
  font-size: 3em;
}

#contact{
  justify-content: center;
  display: flex;
}

.call-me{
  left: 0px;
  position: absolute;
}
