@import "../../themes/theme.scss";

#contact {
  padding-bottom: 10em;
  text-align: center;
  max-height: 100vh;
  background-color: transparent;
  .text-subtitle{
    color: $text-icons-color;
  }
}


#contact-box{
  //border: 5px solid rgb(175, 6, 6);
  margin: 1em 30em 1em 30em;
  align-self: center;
 //border-style: dotted;
}

.title{
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: $text-shadow-pink;
  font-size: 3em;
}
