$dark-theme: true;

$background: black !global; //#141a20
$background-transparent: #141a2000 !global; //#141a20bb
$opposite: white !global;
$pink: #C43171 !global; // Telemagenta
$light-pink: #FFB5C2 !global; //Cherry Blosom Pink
$orange: #f76060 !global;
$yellow: #FFF689 !global; //Canary
$light-green: #B2FAB2 !global; //Granny Smith Apple
$turquese: #23F0C7 !global;
$green: #47A4AE !global; //Cadet Blue
$light-blue: #b4b9cf !global;
$blue: #838BAF !global; //Middle Blue
$dark-blue: #3A405A !global; //Independence - 456990 Queen Blue

// Generals
$titles: $light-pink;
$about: $green;
$about-name: $light-blue;
$background-about: $background;


// Welcome
$welcome-message: $opposite;
$welcome-contrast: $opposite;
$welcome-shadow1: $blue;
$welcome-shadow2: $yellow;
$contrast-shadow1: $light-pink;
$contrast-shadow2: $light-pink;
$background-welcome: transparent;

//navabar
$navbar-color: $light-green;
$navbar-color-shadow: #589658;
$navbar-active: $yellow;
$navbar-active-shadow: #aaa45e;
$navbar-hover: $light-pink;
$navbar-hover-shadow: #aa5783;
$background-navbar-large: linear-gradient(to right, rgba(0,0,0,0) 58%, rgba(16,16,16,0) 60%, rgba(255,255,255,0.41) 89%, rgba(255,255,255,0.5) 95%);
$background-navbar-small: linear-gradient(to right, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.1) 100%);

//buttons
$success-botton: #85e285;

// Experience
$experience-date-letter: $opposite;
$experience-date-background: $dark-blue;
$experience-title: $pink;
$experience-subtitle: $green;
$background-experience: linear-gradient(to bottom, $background 8%, $background-transparent 40%, $background 100%);

// Education
$piloto-color: $pink;
$piloto-border: $dark-blue;
$education-type: $turquese;
$education-primary: $yellow;
$education-secundary: $light-green;
$education-description: $green;
$a-text-subtitle-ec:$turquese;
$background-education: linear-gradient(to bottom, $background 8%, $background-transparent 40%, $background 100%);

//skills
$background-skills: linear-gradient(to bottom, $background 8%, $background-transparent 40%, $background 100%);

// contact
$contact-info: $dark-blue;
$contact-title: $green;
$contact-gradient1: $yellow;
$contact-gradient2: $orange;
$background-contact: $background;
$background-description: white;
$background-contact: transparent;

:export {
  dark: $background;
  background-transparent: $background-transparent;
}
