// Palette

$dark: #141a20;
$dark-transparent: #141a20bb;

$pink: #C43171; // Telemagenta
$light-pink: #FFB5C2; //Cherry Blosom Pink

$orange: #f76060;

$yellow: #FFF689; //Canary

$light-green: #B2FAB2; //Granny Smith Apple
$turquese: #23F0C7;
$green: #47A4AE; //Cadet Blue

$light-blue: #8CC2F8;
$blue: #89D2DC; //Middle Blue
$dark-blue: #3A405A; //Independence - 456990 Queen Blue

// Generals
$titles: $light-pink;
$about: $green;
$about-name: $light-blue;

// Welcome
$welcome-contrast: white;
$welcome-shadow1: $blue;
$welcome-shadow2: $yellow;
$contrast-shadow1: $light-pink;
$contrast-shadow2: $light-pink;

//navabar
$navbar-color: $light-green;
$navbar-color-shadow: #589658;
$navbar-active: $yellow;
$navbar-active-shadow: #aaa45e;
$navbar-hover: $light-pink;
$navbar-hover-shadow: #aa5783;
$background-navbar-large: linear-gradient(to right, rgba(0,0,0,0) 58%, rgba(16,16,16,0) 60%, rgba(255,255,255,0.41) 89%, rgba(255,255,255,0.5) 95%);
$background-navbar-small: linear-gradient(to right, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.1) 100%);

//buttons
$success-botton: #85e285;

// Experience
$experience-date-letter: white;
$experience-date-background: $dark-blue;
$experience-title: $pink;
$experience-subtitle: $green;

// Education
$piloto-color: $pink;
$piloto-border: $dark-blue;
$education-type: $turquese;
$education-primary: $yellow;
$education-secundary: $light-green;
$education-description: $green;
$a-text-subtitle-ec:$turquese;

// contact
$contact-info: $dark-blue;
$contact-title: $green;
$contact-gradient1: $yellow;
$contact-gradient2: $orange;
$background: $dark;
$background-description: white;

:export {
  dark: $dark;
}
