$dark: #3B4C60;
$light: #ffffff;
$text-shadow: 1px 1px 2px #000000;
$box-shadow: 0px 1px 1.5px 1px #DDDDDD;


$primary-color: #fcecae; //Titulos H1
$secondary-text:  #ff4a62; // Titulos H3

$text-icons-color: #69B5B5; //Subtitulos H4
$text-icons-color:#6BE0E8;
$divider-color: #86aeaf; //Subtitulos


$accent-color: #ff4a62;

$primary-text: #281D28;


$background: $dark;
$background-description: $light;

:export {
  dark: $dark;
  light: $light;
  textshadow: $text-shadow;
  boxshadow: $box-shadow;

  primarycolor: $primary-color;
  secondarytext: $secondary-text;
  texticonscolor: $text-icons-color;
  dividercolor: $divider-color;

  accentcolor: $accent-color;
  primarytext: $primary-text;
}
