@import "../../themes/theme.scss";

#experience {
  position: static;
  background: rgba(0, 0, 0, 0.486);

  h1{
    text-shadow: $text-shadow-blue;
    box-shadow: $box-shadow-blue-titles;
  }

  p {
    font-size: 1em;
    color: $dark;
  }
}
