@import "../../themes/theme.scss";

#experience {
  position: static;
  background: linear-gradient(
    to bottom,
    $background-transparent 0%,
    $background-transparent2 50%,
    $background-transparent 85%,
    $background 100%
  );
  padding-bottom: 3em;

  .vertical-timeline-element-content.bounce-in {
    background: $background-box-experience;
  }

  p {
    font-size: 0.9em;
    font-weight: 200;
    color: $background;
  }

  h3 {
    color: $experience-title;
    text-shadow: none;
    font-size: 1.1em;
    font-weight: 300;
  }

  h4 {
    color: $experience-subtitle;
    font-size: 1em;
    font-weight: 300;
  }

  .vertical-timeline-element-subtitle {
    color: $experience-subtitle;
  }

  .vertical-timeline-element-date {
    color: $experience-date-letter;
    font-weight: 900;
    background: $experience-date-background;
    border-radius: 10px;
    text-align: center;
    margin: 0;
    padding: 0;
    opacity: 1;
  }

  .logo {
    width: 10vh;
  }
}
