@import "../../themes/theme.scss";

#skills {
  position: static;
  background-color: $skills-overlay;
  clip-path: polygon(0% 3%, 100% 0%, 100% 100%, 0% 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  p {
    font-size: 1.1em;
    color: $background;
  }

  h1 {
    background-color: $skills-background-title;
    padding: 10vh 8vh 10vh 120vh;
    margin: 0;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 40% 10%);
    text-align: right;
    float: left;
    position: absolute;
    right: 0;
  }
}

#skills-box {
  align-self: center;
  margin: 0;
  padding-top: 12em;
  padding-bottom: 4em;

  @include media-breakpoint-down(md) {
    padding-top: 250px;

    h1 {
      clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 10%);
    }
  }
}

.skill-column {
  align-self: center;
  margin: 25px;
}

.skill-image {
  width: 70px;
  margin: 20px;
  padding-top: 0em;
  padding-bottom: 1.5em;

  @include media-breakpoint-down(md) {
    width: 50px;
    margin: 10px;
  }
}

.skill-computer-image {
  width: 100%;
  background: transparent;
}

.skill-row {
  justify-content: center;
}
