@import "../../themes/theme.scss";

#skills{
  position: static;
  //background: linear-gradient(to bottom, rgba(99, 31, 57, 0.664) 0%, rgba(107, 75, 72, 0.514) 51%, rgba(100, 85, 70, 0.486) 78%, rgba(158, 151, 115, 0.6) 100%);

  h1{
    text-shadow: $text-shadow-blue;
    //box-shadow: $box-shadow-blue-titles;
  }

  p {
    font-size: 1.1em;
    color: $dark;
  }
}

#skills-box{
  //border: 5px solid rgb(175, 6, 6);
  background: transparent;
  align-self: center;
  padding: 3em 1em 3em 1em;

  width: 60vh;
  position: relative;
  margin: auto;
}
