@import "./themes/theme.scss";

.App {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  max-width: 100%;
}

.parallax {
  background-color: rgba(115, 100, 121, 0);
  height: 100%;
  background-attachment: sticky;
  background-position: center;
  background-size: cover;
  max-width: 100%;
}

.row {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
}

.section {
  min-height: 100vh;
}

.container {
  max-width: 98% !important;
}

.particles-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.description {
  font-weight: 100;
  padding: 0.5em;
}

h1 {
  text-align: center;
  font-weight: bolder;
  font-size: 3em;
  padding-top: 1.1em;
  padding-bottom: 0.7em;
  color: $titles !important;
  text-shadow: $shadow-white;
}

.text-subtitle {
  font-weight: 400;
  color: $education-secundary;
  padding-left: 15px;
}

.text-description {
  font-weight: 300;
  color: $education-description;
  padding-left: 15px;
}

.nospace {
  margin: 0;
  padding: 0;
}

a {
  color: $purple;
  font-weight: 500;
  text-decoration: none !important;
}

a:hover {
  font-weight: 700;
  text-shadow: $links-color;
  color: white;
}
