@import "./themes/theme.scss";

hr{
  border: 0;
  height: 1px;
}

.cursive{
  font-family: 'Lobster', cursive;
}

.app{
  position: 'relative';
}

.container-box{
  width: 80%;
  position: relative;
  z-index: 9 ;
}

.particles-box{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.description{
  margin: 2em;
  background-color: $background-description;
  font-weight: 100;
  color: $primary-text;
  padding: 1em;
  height: auto;
  border-radius: 5px;
  box-shadow: $box-shadow;
}

h1 {
  color: $primary-color;
  padding-top: 0.5em;
  padding-bottom: 0.25em;
  margin-top: 0.5em;
  text-align: center;
  text-shadow: $text-shadow;
  background: black;
  font-size: 5em;
  box-shadow: 0em 0em 3em 1.5em black;
}

h3{
  color: $secondary-text;
}

h4{
  color: $text-icons-color;
}

.text-subtitle{
  font-weight: 600;
  color: $divider-color;
  padding-left: 15px;
}

.text-description{
  font-weight: 500;
  color: $dark;
  padding-left: 15px;
}

.section{
  width: 100%;
  min-height: 100vh;
  position: static;
  padding-top: 3em;
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0.3) 31%, rgba(0,0,0,0) 55%, rgba(0,0,0,0.5) 77%, rgba(0,0,0,1) 100%);
}
