@import "../../themes/theme.scss";

#education {
  h1{
    padding-bottom: 0em;
  }

  h4 {
    color: $education-primary;
    padding-left: 10px;
    font-weight: 400;
  }

  h3{
    color: $education-type;
    font-weight: 400;
    font-size: 1.3em;
  }

  .text-subtitle{
    font-weight: 300;
    a{
      color: $a-text-subtitle-ec;
    }
  }

  .text-description{
    font-weight: 300;
    font-size: 0.9em;;
  }

  .row{
    margin: 1vh;
  }
}

#university {
  border-style: solid;
  border-color: $piloto-border;
  background: $piloto-background;
  border-radius: .5em;
  padding-top: 7vw;
  padding-bottom: 7vw;

  h4 {
    padding: 0;
    font-size: auto;
    color: $piloto-color;
    font-variant: small-caps;
    font-weight: 400;
    font-size: 2em;
  }

  h3 {
    padding: 0;
    font-variant: small-caps;
    color: $piloto-color;
    font-weight: 500;
    font-size: 2.5em;
    text-shadow: none;
  }

  .text-subtitle{
    font-size: 2.5vh;
  }

  .logo{
    width: 100%;
  }
}

#languages{
  .row{
    margin: 1vh;
  }

  .logo{
    width: 90%;
  }

  .lang{
    display: flex;
    font-size: 0.8em;
  }

  h3{
    padding-top: 1em;
  }
}

#courses{
  .logo{
    width: 80%;
  }

  h4, .text-subtitle, .text-description{
    padding: 0px;
  }
  .col{
    margin: 0;
    padding: 0;
  }
}

.education-box{
  height: auto;
  width: 100%;
  margin: 0px;
}

.description{
  width: 100%;
  text-align: justify;
}
