@import "../../themes/theme.scss";

#education {
  background: rgba(163, 163, 163, 0.425);
  background: rgba(255, 255, 255, 0.952);
  //adding-left: 3vh;
  //padding-right: 3vh;

  h1{
    color: #FF5757;
    padding-top: 1em;
  }

  h4 {
    padding-left: 10px;
    font-weight: 500;
  }
  h3{
    font-weight: 400;
    font-size: 1.3em;
  }
}

#university {
  border-style: solid;
  border-color: #FF0202;
  padding-top: 15vh;
  padding-bottom: 15vh;

  h4 {
    padding: 0;
    font-size: auto;
    color: black;
    font-variant: small-caps;
    font-weight: 400;
    font-size: 2em;
  }

  h3{
    padding: 0;
    font-variant: small-caps;
    color: black;
    font-weight: 500;
    font-size: 2.5em;
    text-shadow: none;
  }

  .text-subtitle{
    font-size: 2.5vh;
  }
}

.languages{
  .row{
    margin:1vh;
  }
}

.course{
  .logo{
    width: 80%;
  }
  .row{
    margin: 1vh;
  }
  .col{
    margin: 0;
    padding: 0;
    .text-subtitle{
      padding: 0;
    }
  }
}

.education-box{
  height: auto;
  width: 100%;
  margin: 0px;
}

.description{
  width: 100%;
}

.logo{
  width: 100%;
}

.lang{
  display: flex;
}
